<% extends "template.html" %>

<% block title -%>Contribua com o projeto | Promessa de Político<%- endblock %>

<% block content %>
<div class="container">
  <div class="row font-big">
    <div class="col-md-10 col-md-offset-1 align-justify indent-paragraphs">
      <h1 class="text-center">Contribua com o Promessa de Político</h1>
      <p>
        O projeto finalmente foi lançado e conta apenas com 124 políticos cadastrados, sendo eles o presidente, governadores e os prefeitos das cidades mais populosas do país. Até o momento estão registradas somente as promessas de <a href="/politico/dilma-rousseff">Dilma Rousseff</a> e <a href="/politico/antonio-carlos-magalhaes-neto">ACM Neto</a>, faltando atualizar o andamento dessas promessas, entre outras informações. Sua contribuição nessa etapa é de extrema importância.
      </p>
      <p>
        Sabemos que os políticos fazem muitas promessas. Registrar e acompanhar cada uma delas pode ser uma tarefa muito complicada, por esse motivo gostaria de montar uma equipe responsável por manter e melhorar cada vez mais o Promessa de Político. Tarefas como movimentar redes sociais, evoluir o site, cadastrar políticos e suas promessas serão algumas das responsabilidades.
      </p>
      <p>
        Se você gostou da ideia e ficou interessado em participar de forma mais ativa no projeto, clique <a href="/contato"><b>aqui</b></a> e deixe a sua mensagem.
      </p>
      <p class="text-right bolder-text">
        Sandro Simas.
      </p>
    </div>
  </div>
</div>
<% endblock %>