<% extends "template.html" %>

<% block stylesheets %>
<% endblock %>

<% block content %>
<div class="container">
  <div class="row font-big">
    <div class="col-md-10 col-md-offset-1">
      <p>O Promessa de Político tem o objetivo de fornecer aos cidadãos brasileiros uma forma mais fácil de acompanhar as promessas dos nossos políticos.</p>
      <p>Através dessa plataforma todos podem participar registrando os políticos que ainda não estão cadastrados, bem como suas promessas de campanha.</p>
      <p>Além disso é possível atualizar as informações da promessa de acordo com o seu andamento, discutir com os outros brasileiros, </p>
      <p>Com a colaboração de todos o Promessa de Político consegue analisar quem são os políticos que estão cumprindo ou não suas promessas, exibindo-os na sua página principal.
      </p>      
    </div>
  </div>  
</div>
<% endblock %>

<% block scripts %> 
<% endblock %>