{% extends "template.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="container">  
  <h3>Entrar ou Cadastrar</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="/auth/facebook" class="btn btn-lg btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Facebook
      </a>
    </div>
    <div class="col-md-4">
      <a href="/auth/twitter" class="btn btn-lg btn-block btn-social btn-twitter">
        <i class="fa fa-twitter"></i> Twitter
      </a>
    </div>
    <div class="col-md-4">
      <a href="/auth/twitter" class="btn btn-lg btn-block btn-social btn-google-plus">
        <i class="fa fa-google-plus"></i> Google
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %} 
{% endblock %}