<% extends "template.html" %>

<% block content %>
<div class="container" ng-controller="indexController">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <ul ng-social-buttons
          data-url="'http://www.promessadepolitico.com.br/politicos'"
          data-title="''">
          <li class="ng-social-facebook">Facebook</li>
          <li class="ng-social-twitter">Twitter</li>
          <li class="ng-social-google-plus">Google+</li>
          <li>
            <div class="fb-like align-right" data-href="http://www.facebook.com/promessadepolitico" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <select class="form-control" nya-selectpicker ng-model="selectedPoliticalParty" ng-options="politicalParty.acronym for politicalParty in politicalParties" ng-change="filterSelected()" data-container="body"></select>
        </div>
        <div class="col-md-4">
          <select class="form-control" nya-selectpicker ng-model="selectedState" ng-options="state.name for state in states" ng-change="filterSelected()" data-container="body"></select>
        </div>
      </div>
    </div>
    <div class="col-md-4 align-right">
      <a class="btn btn-primary btn-lg" ng-click="registerPolitician()">
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar Político
      </a>
    </div>
  </div>
  <div>
    <h3>
        Políticos que cumpriram promessas nos últimos meses
        <a href="/como-funciona#politicos-que-cumpriram-promessas-nos-ultimos-meses" title="Saiba como funciona este ranque">
          <span class="badge" style="font-size: 14px;">?</span>
        </a>
    </h3>
    <div class="row">
      <div ng-if="!existsBestPoliticians()" class="col-md-12 align-center">
        <div class="jumbotron">
          <h2>
            Ajude-nos a encontrar políticos exemplares
            <span ng-show="hasPoliticalPartySelected()">
              do {{ selectedPoliticalParty.acronym }}
            </span>
            <span ng-show="hasStateSelected()">
              {{ selectedState.preposition }} {{ selectedState.name }}
            </span>
          </h2>
          <h3>
            <a ng-click="registerPolitician()">
              Cadastre um político exemplar
            </a>
          </h3>
        </div>
      </div>
      <div ng-if="existsBestPoliticians()" class="col-md-12">
        <div class="row" ng-repeat="row in bestPoliticians | partition:4">
          <div ng-repeat="bestPolitician in row" class="col-md-3">
            <div class="politician-thumbnail">
              <div class="row">
                <div class="col-auto" style="width: 39%;">
                  <a ng-href="/politico/{{ bestPolitician.slug }}">
                    <img ng-if="!bestPolitician.photo_filename" src="/img/no-image.gif" class="politician-photo photo-small">
                    <img ng-if="bestPolitician.photo_filename" ng-src="/img/politicians/{{ bestPolitician.photo_filename }}" class="politician-photo photo-small">
                  </a>
                </div>
                <div class="col-auto" style="padding-left: 0px; width: 61%;">
                  <p>
                    <a ng-href="/politico/{{ bestPolitician.slug }}">
                      {{ bestPolitician.displayName }}
                    </a>
                    <small>
                      ({{ bestPolitician.total_fulfilled_promises }}/{{ bestPolitician.total_promises }})
                    </small>
                  </p>
                  <div class="overflow-hidden">
                    <div class="votes">
                      <div class="vote">
                        <div class="vote-up">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(bestPolitician, 'UP'), 'btn-success': votedInPolitician(bestPolitician, 'UP')}" ng-click="voteInPolitician(bestPolitician, 'UP')">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianUpUsersVotes(bestPolitician) }}
                          </span>
                        </div>
                      </div>
                      <div class="vote">
                        <div class="vote-down">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(bestPolitician, 'DOWN'), 'btn-danger': votedInPolitician(bestPolitician, 'DOWN')}" ng-click="voteInPolitician(bestPolitician, 'DOWN')">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianDownUsersVotes(bestPolitician) }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <a href="/politicos/cumprindo-promessas" class="btn btn-block btn-primary">
              Ver lista completa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>
      Políticos que <b>não</b> cumpriram promessas nos últimos meses
      <a href="/como-funciona#politicos-que-nao-cumpriram-promessas-nos-ultimos-meses" title="Saiba como funciona este ranque">
        <span class="badge" style="font-size: 14px;">?</span>
      </a>
    </h3>
    <div class="row">
      <div ng-if="!existsWorstPoliticians()" class="col-md-12 align-center">
        <div class="jumbotron">
          <h2>
            Ajude-nos a encontrar políticos
            <span ng-show="hasPoliticalPartySelected()">
              do {{ selectedPoliticalParty.acronym }}
            </span>
            <span ng-show="hasStateSelected()">
              {{ selectedState.preposition }} {{ selectedState.name }}
            </span>
            que não cumpriram promessas nos últimos meses
          </h2>
          <h3>
            <a ng-click="registerPolitician()">
              Cadastre um político
            </a>
          </h3>
        </div>
      </div>
      <div ng-if="existsWorstPoliticians()" class="col-md-12">
        <div class="row" ng-repeat="row in worstPoliticians | partition:4">
          <div ng-repeat="worstPolitician in row" class="col-md-3">
            <div class="politician-thumbnail">
              <div class="row">
                <div class="col-auto" style="width: 39%;">
                  <a ng-href="/politico/{{ worstPolitician.slug }}">
                    <img ng-if="!worstPolitician.photo_filename" src="/img/no-image.gif" class="politician-photo photo-small">
                    <img ng-if="worstPolitician.photo_filename" ng-src="/img/politicians/{{ worstPolitician.photo_filename }}" class="politician-photo photo-small">
                  </a>
                </div>
                <div class="col-auto" style="padding-left: 0px; width: 61%;">
                  <p>
                    <a ng-href="/politico/{{ worstPolitician.slug }}">
                      {{ worstPolitician.displayName }}
                    </a>
                    <small>
                      ({{ worstPolitician.total_fulfilled_promises }}/{{ worstPolitician.total_promises }})
                    </small>
                  </p>
                  <div class="overflow-hidden">
                    <div class="votes">
                      <div class="vote">
                        <div class="vote-up">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(worstPolitician, 'UP'), 'btn-success': votedInPolitician(worstPolitician, 'UP')}" ng-click="voteInPolitician(worstPolitician, 'UP')">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianUpUsersVotes(worstPolitician) }}
                          </span>
                        </div>
                      </div>
                      <div class="vote">
                        <div class="vote-down">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(worstPolitician, 'DOWN'), 'btn-danger': votedInPolitician(worstPolitician, 'DOWN')}" ng-click="voteInPolitician(worstPolitician, 'DOWN')">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianDownUsersVotes(worstPolitician) }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <a href="/politicos/nao-estao-cumprindo-promessas" class="btn btn-block btn-primary">
              Ver lista completa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="existsPoliticiansWithoutPromises()">
    <h3>
      Políticos que ainda não tem promessas registradas
      <span class="label label-info">Contribua!</span>
    </h3>
    <div class="row">
      <div class="col-md-12">
       <div class="row" ng-repeat="row in politiciansWithoutPromises | partition:4">
          <div ng-repeat="politicianWithoutPromises in row" class="col-md-3">
            <div class="politician-thumbnail">
              <div class="row">
                <div class="col-auto" style="width: 39%;">
                  <a ng-href="/politico/{{ politicianWithoutPromises.slug }}">
                    <img ng-if="!politicianWithoutPromises.photo_filename" src="/img/no-image.gif" class="politician-photo photo-small">
                    <img ng-if="politicianWithoutPromises.photo_filename" ng-src="/img/politicians/{{ politicianWithoutPromises.photo_filename }}" class="politician-photo photo-small">
                  </a>
                </div>
                <div class="col-auto" style="padding-left: 0px; width: 61%;">
                  <p>
                    <a ng-href="/politico/{{ politicianWithoutPromises.slug }}">
                      {{ politicianWithoutPromises.displayName }}
                    </a>
                  </p>
                  <div class="overflow-hidden">
                    <div class="votes">
                      <div class="vote">
                        <div class="vote-up">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(politicianWithoutPromises, 'UP'), 'btn-success': votedInPolitician(politicianWithoutPromises, 'UP')}" ng-click="voteInPolitician(politicianWithoutPromises, 'UP')">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianUpUsersVotes(politicianWithoutPromises) }}
                          </span>
                        </div>
                      </div>
                      <div class="vote">
                        <div class="vote-down">
                          <button type="button" class="btn" ng-class="{'btn-default': !votedInPolitician(politicianWithoutPromises, 'DOWN'), 'btn-danger': votedInPolitician(politicianWithoutPromises, 'DOWN')}" ng-click="voteInPolitician(politicianWithoutPromises, 'DOWN')">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                          </button>
                        </div>
                        <div class="vote-count font-small">
                          <span>
                            {{ totalPoliticianDownUsersVotes(politicianWithoutPromises) }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <a href="/politicos/sem-promessas" class="btn btn-block btn-primary">
              Ver lista completa
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% endblock %>

<% block scripts %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=235774129950285&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% endblock %>