<!DOCTYPE html>
<html lang="pt">
<head>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="O Promessa de Político é um banco de promessas dos políticos brasileiros. Saiba quem são os políticos que estão cumprindo ou não as suas promessas.">
  <meta name="keywords" content="promessa, político, brasileiro, cumprir, acompanhe, contribua, exija">
  <meta name="author" content="Sandro Simas">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Promessa de Político">
  <meta property="og:description" content="O Promessa de Político é um banco de promessas dos políticos brasileiros. Saiba quem são os políticos que estão cumprindo ou não as suas promessas.">
  <meta property="og:image" content="http://www.promessadepolitico.com.br/img/og_index.jpg">

  <title>Promessa de Político</title>

  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/carousel.css" rel="stylesheet">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <style>
    h1, h2, h3, h4, h5, p {
      line-height: 1.5;
    }
  </style>
</head>
<body cz-shortcut-listen="true">
  <div id="land-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/img/land-photo-2.jpg">
      </div>
      <div class="item">
        <img src="/img/land-photo-3.jpg">
      </div>
      <div class="item">
        <img src="/img/land-photo-4.jpg">
      </div>
    </div>
    <div class="carousel-captions col-md-8 col-md-offset-2">
      <h1>
        <b>Bem vindo ao Promessa de Político</b>
      </h1>
      <h2 style="text-align: justify;">
        <b>
          O Promessa de Político é um banco de promessas dos políticos brasileiros. Acompanhe se os políticos estão cumprindo ou não as suas promessas.
        </b>
      </h2>
      <a href="/politicos" class="btn btn-success btn-lg">Acesse o Promessa de Político</a>
    </div>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img src="/img/land-marketing.jpg" style="height: 140px;">
        <h2>Acompanhe</h2>
        <h4>
          Saiba quem são os políticos que estão cumprindo ou não o seu papel.
          Utilize o Promessa de Político para acompanhar o andamento das promessas dos políticos.
        </h4>
      </div>
      <div class="col-lg-4">
        <img src="/img/land-marketing.jpg" style="height: 140px;">
        <h2>Exija</h2>
        <h4>
          Agora que sabemos quais são as promessas dos nossos políticos e a situação de cada uma delas. Vamos nos unir e exigir que as cumpram.
        </h4>
      </div>
      <div class="col-lg-4">
        <img src="/img/land-marketing.jpg" style="height: 140px;">
        <h2>Contribua</h2>
        <h4>
          Contribua com o Promessa de Político cadastrando mais políticos e promessas. Ajude a atualizar as informações das promessas e discuta sobre elas com os outros brasileiros.
        </h4>
      </div>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var _sf_async_config = { uid: 56362, domain: 'promessadepolitico.com.br', useCanonical: true };
    (function() {
      function loadChartbeat() {
        window._sf_endpt = (new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
        document.body.appendChild(e);
      };
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
  </script>
</body>
</html>