{% macro promise_state_label(state) %}
  {%- if state == "NONE" -%}
    Sem informação
  {%- elif state == "STARTED" -%}
    Iniciada
  {%- elif state == "FULFILLED" -%}
    Cumprida
  {%- else -%}
    Descartada
  {%- endif -%}
{% endmacro %}

{% macro promise_state_css_class(state, button=false) %}
  {%- if state == "NONE" -%}
    {%- if button -%}
      none
    {%- else -%}
      default
    {%- endif -%}
  {%- elif state == "STARTED" -%}
    warning
  {%- elif state == "FULFILLED" -%}
    success
  {%- else -%}
    danger
  {%- endif -%}
{% endmacro %}