<!DOCTYPE html>
<html lang="pt">
<head>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="O Promessa de Político é um banco de promessas dos políticos brasileiros. Saiba quem são os políticos que estão cumprindo ou não as suas promessas.">
  <meta name="author" content="Sandro Simas e Maday Avila">

  <title>Promessa de Político</title>

  <link href="/img/favicon.ico" rel="shortcut icon">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
  <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/bower_components/angular-social/angular-social.css" rel="stylesheet">
  <link href="/css/nprogress.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>

  <% block stylesheets %>
  <% endblock %>
</head>
<body ng-app="politiciansPromiseApp" ng-cloak class="ng-cloak">
  <header ng-controller="headerController" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/politicos">Promessa de Político</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': isSectionActive('howItWorksActive')}">
            <a href="/como-funciona">Como funciona</a>
          </li>
          <!-- <li ng-class="{'active': isSectionActive('whoWeAreActive')}">
            <a href="/quem-somos">Quem somos</a>
          </li> -->
          <li ng-class="{'active': isSectionActive('contactActive')}">
            <a href="/contato">Contato</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <input type="search" ng-model="selectedPolitician" typeahead="politician.displayName for politician in searchPoliticians($viewValue)" typeahead-min-length="3" typeahead-wait-ms="500" typeahead-on-select="selectPolitician($item)" placeholder="Busque por políticos" class="form-control" style="width: 300px;">
        </form>
        <ul ng-show="user" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ user.name }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout">Sair</a></li>
            </ul>
          </li>
        </ul>
        <form ng-show="!user" class="navbar-form navbar-right">
          <button ng-click="authenticate()" class="btn btn-success">Acessar</button>
        </form>
      </div>
    </div>
  </header>

  <main class="content">
    <% block content %>
    <% endblock %>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Projeto</h4>
          <ul>
            <li><a href="/como-funciona">Como funciona</a></li>
            <!-- <li><a href="/quem-somos">Quem somos</a></li> -->
            <li><a href="/contato">Contato</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Redes Sociais</h4>
          <ul>
            <li><a href="http://www.facebook.com/promessadepolitico">Facebook</a></li>
            <li><a href="http://www.twitter.com/promessadepolitico">Twitter</a></li>
          </ul>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
</footer>

  <div ng-controller="alertController" class="alerts">
    <alert class="fade-in fade-out" ng-repeat="alert in alerts" type="{{ alert.type }}">
      {{ alert.msg }}
    </alert>
  </div>

  <script src="/bower_components/angular-i18n/angular-locale_pt-br.js"></script>
  <script src="/bower_components/angular-social/angular-social.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>

  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/nprogress.js"></script>

  <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/bower_components/jquery-knob/js/jquery.knob.js"></script>
  <script src="/bower_components/angular-knob/src/angular-knob.js"></script>

  <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

  <script src="/bower_components/bootstrap-select/bootstrap-select.min.js"></script>
  <script src="/bower_components/nya-bootstrap-select/src/nya-bootstrap-select.js"></script>

  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/js/moment-lang-ptbr.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.min.js"></script>

  <script src="/bower_components/textAngular/textAngular-sanitize.min.js"></script>
  <script src="/bower_components/textAngular/textAngular.min.js"></script>

  <script src="/bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
  <script src="/bower_components/ng-flow/dist/ng-flow.min.js"></script>

  <script src="/js/errors.js"></script>
  <script src="/js/app.js"></script>
  <script>
    angular
      .module("politiciansPromiseApp")
      .value(
        "backendData",
        <% if backendData %> <$ backendData|jsonString $> <% else %> {} <% endif %>
      );
  </script>
  <script src="/js/filters.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ajaxStart(function() {
      NProgress.start();
    });
    $(document).ajaxStop(function() {
      NProgress.done();
    });
  </script>
  <% block scripts %>
  <% endblock %>
  <script type="text/javascript">
    var _sf_async_config = { uid: 56362, domain: 'promessadepolitico.com.br', useCanonical: true };
    (function() {
      function loadChartbeat() {
        window._sf_endpt = (new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
        document.body.appendChild(e);
      };
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
  </script>
</body>
</html>