{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Brasileiro tem memória">
  <meta name="author" content="Sandro Simas e Maday Avila">
  <title>Fixed Top Navbar Example for Bootstrap</title>
  <link href="/img/favicon.ico" rel="shortcut icon" >
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nprogress.css" rel="stylesheet">
  {% block stylesheets %}
  {% endblock %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Promessa de Político</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>        
        {% if user %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ user.get('name') }} 
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/usuario/{{ user.get('username') }}">Perfil</a></li>
              <li><a href="/logout">Sair</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </header>

  <main class="content">
    {% block content %}
    {% endblock %}
  </main>

  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>  
  <script src="/js/nprogress.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/moment-lang-ptbr.js" charset="utf-8"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-moment.min.js"></script>
  <script src="/js/main.js"></script>
  <script>
    $(document).ajaxStart(function() {
      NProgress.start();
    });
    $(document).ajaxStop(function() {
      NProgress.done();
    });
    // Show the progress bar 
    NProgress.start();
    // Increase randomly
    var interval = setInterval(function() { NProgress.inc(); }, 1000);        
    // Trigger finish when page fully loaded
    jQuery(window).load(function () {
        clearInterval(interval);
        NProgress.done();
    });

  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>