<% extends "template.html" %>

<% block stylesheets %>
<% endblock %>

<% block content %>
<div class="container">
  <div class="row">
    <div class="col-md-3 align-center">
      <img src="/img/contributors/sandro.jpg" class="img-circle" style="height: 200px;">
    </div>
    <div class="col-md-9 paragraph_1_5">
      <h3>
        Olá, meu nome é Sandro, sou formado em ciência da computação, apaixonado pela minha profissão e criador deste projeto.
      </h3>
      <h4>
        Em toda a minha vida eu nunca gostei e nem me envolvi com política, porém, assim como todos os brasileiros, sempre me indignei com a situação em que nosso país se encontra. 2013 foi um ano diferente para o Brasil, finalmente fomos às ruas para lutar por um Brasil melhor.
      </h4>
      <h4>
        E-mail para contato: 
        <a target="_blank" href="mailto:sandro.csimas@gmail.com">sandro.csimas@gmail.com</a>
      </h4>
    </div>
  </div>
  <hr/>
</div>
<% endblock %>

<% block scripts %> 
<% endblock %>