<% extends "template.html" %>

<% block content %>
<div class="container">
  <div class="row">
    <div class="col-md-2 align-center">
      <img src="/img/contributors/sandro.jpg" class="img-circle" style="height: 100px;">
    </div>
    <div class="col-md-9">
      <h4>
        Olá, meu nome é Sandro Simas, sou um desenvolvedor de sistemas formado em ciência da computação, apaixonado por tecnologia e criador deste projeto.
      </h4>
      <p>
        Sempre que estiver disponível, estarei atualizando o conteúdo do site. Espero que tenham gostado do projeto e que contribuam para manter o Promessa de Político sempre atualizado.
        Qualquer comentário ou sugestão basta entrar em contato através do e-mail abaixo ou pela página de <a href="/contato">contato</a>.
      </p>
      <p>
        E-mail para contato:
        <a target="_blank" href="mailto:sandro.csimas@gmail.com">sandro.csimas@gmail.com</a>
      </p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-2 align-center">
      <img src="/img/contributors/maday.jpg" class="img-circle" style="height: 100px;">
    </div>
    <div class="col-md-9">
      <h4>
        Olá, meu nome é Maday Avila, sou graduanda em fisioterapia na UFBA e apaixonada por política.
      </h4>
      <p>
        Sempre que estiver disponível, estarei atualizando o conteúdo do site. Espero que tenham gostado do projeto e que contribuam para manter o Promessa de Político sempre atualizado.
        Qualquer comentário ou sugestão basta entrar em contato através do e-mail abaixo ou pela página de <a href="/contato">contato</a>.
      </p>
      <p>
        E-mail para contato:
        <a target="_blank" href="mailto:maday.avila@gmail.com">maday.avila@gmail.com</a>
      </p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-2 align-center">
      <img src="/img/contributors/contribute.jpg" class="img-circle" style="height: 100px;">
    </div>
    <div class="col-md-9">
      <h4>
        Colaborador
      </h4>
      <p>
        Quanto mais pessoas envolvidas no projeto, maior alcance ele terá.
      </p>
      <p>
        Se você gostou do projeto e tem interesse de participar na gestão do Promessa de Político, entre em contato através do e-mail abaixo ou pela página de <a href="/contato">contato</a>.
      </p>
      <p>
        E-mail para contato:
        <a target="_blank" href="mailto:sandro.csimas@gmail.com">sandro.csimas@gmail.com</a>
      </p>
    </div>
  </div>
</div>
<% endblock %>